html,
body {
	margin: 0;
	padding: 0;
}

#todo-value{
	display: inline-block;
	width: 12em;
	border: #33bdef;
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	color:#33bdef;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#button-delete{
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-moz-linear-gradient(top, #ee4a4f 5%, #f10707 100%);
	background:-webkit-linear-gradient(top, #ee4a4f 5%, #f10707 100%);
	background:-o-linear-gradient(top, #ee4a4f 5%, #f10707 100%);
	background:-ms-linear-gradient(top, #ee4a4f 5%, #f10707 100%);
	background:linear-gradient(to bottom, #ee4a4f 5%, #f10707 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#f10707;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #f10707;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 19px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}

#button-delete:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f10707), color-stop(1, #ee4a4f));
	background:-moz-linear-gradient(top, #f10707 5%, #ee4a4f 100%);
	background:-webkit-linear-gradient(top, #f10707 5%, #ee4a4f 100%);
	background:-o-linear-gradient(top, #f10707 5%, #ee4a4f 100%);
	background:-ms-linear-gradient(top, #f10707 5%, #ee4a4f 100%);
	background:linear-gradient(to bottom, #f10707 5%, #ee4a4f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f10707', endColorstr='#ee4a4f',GradientType=0);
	background-color:#019ad2;
}

button {
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 19px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
	margin-right: 0.2em;
}

button:hover{
  	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}

button:active {
	position:relative;
	top:1px;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}

:focus {
	outline: 0;
}

.note {
	margin: 0.3em;
}

.hidden {
	display: none;
}

.todoapp {
	background: #fff;
	margin: 130px 0 40px 0;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

input {
	font-style: italic;
	font-weight: 300;
}

.checkbox input {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todoapp input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

 h1 {
  margin-right: 100px;
	text-align: inherits;
	color: #019ad2;
}

.todo-value,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.todo-value {
	padding: 16px 16px 16px 60px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

.toggle-all {
	text-align: center;
	border: none; /* Mobile Safari */
	opacity: 0;
	position: absolute;
}


